type file
id FSharp.Control.Reactive.Testing
description
     A F#-friendly wrapper for the Reactive Extensions Testing.
authors
    Ryan Riley, Steffen Forkmann, Jared Hester
    
summary
    "A F#-friendly wrapper for the Reactive Extensions Testing.
licenseurl https://github.com/fsprojects/FSharp.Control.Reactive/blob/master/LICENSE.txt
projecturl https://github.com/fsprojects/FSharp.Control.Reactive
iconurl http://fsprojects.github.io/FSharp.Control.Reactive/img/logo.png

tags
    F#, FSharp, Reactive Extensions, Rx, Testing
dependencies
    System.Reactive >= LOCKEDVERSION
    Microsoft.Reactive.Testing >= LOCKEDVERSION
excludedependencies
    FSharp.Core
files
    ./src/FSharp.Control.Reactive.Testing/bin/Release/net45/FSharp.Control.Reactive.Testing.dll ==> lib/net45
    ./src/FSharp.Control.Reactive.Testing/bin/Release/net45/FSharp.Control.Reactive.Testing.XML ==> lib/net45
    ./src/FSharp.Control.Reactive.Testing/bin/Release/net45/FSharp.Control.Reactive.Testing.?db ==> lib/net45
    ./src/FSharp.Control.Reactive.Testing/bin/Release/netstandard2.0/FSharp.Control.Reactive.Testing.dll ==> lib/netstandard2.0
    ./src/FSharp.Control.Reactive.Testing/bin/Release/netstandard2.0/FSharp.Control.Reactive.Testing.XML ==> lib/netstandard2.0
    ./src/FSharp.Control.Reactive.Testing/bin/Release/netstandard2.0/FSharp.Control.Reactive.Testing.?db ==> lib/netstandard2.0
include-pdbs true
